.App {
  text-align: center;
}

.grid {
  width: 98%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(min(200px, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.grid > .other {
    background-color: blueviolet;
      border: 2px solid black;
      padding: 3rem;
      width: 100%;
      max-width:min-content;
}


@media (prefers-reduced-motion: no-preference) {

    .App-header {
      background-color: #282c34;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
  }
}